@charset "UTF-8";

p {
    width: 80%;
    margin:  2em auto;
    border-radius: 20px;
    text-align: justify;
    padding: 20px;
    font-size: 24px;
}

.txt1 {
    background: rgb(62, 62, 167);
    color: rebeccapurple;
}

.txt2 {
    background-color: black;
    color: white;
}